.accountCenter {
  margin-bottom: 50px;
  .management{
      margin-top: 0.08rem;
      overflow: hidden;
      li{
            background: #fff;
            width: 33.33%;
            padding: 0.15rem;
            float: left;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                border-bottom: 1px solid #e4e4e4;
            }
            &:nth-child(2){
                border-bottom: 1px solid #e4e4e4;
            }
            &:nth-child(3){
                border-bottom: 1px solid #e4e4e4;
            }
            &:nth-child(3n+2){
                border-right: 1px solid #e4e4e4;
                border-left: 1px solid #e4e4e4;
            }
            .a{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: 0.4rem;
                    height: 0.4rem;
                }
                p{
                    font-size: 0.12rem;
                    color: #676767;
                    margin-top: 0.1rem
                }
            }
      }
  }
  .setting{
    margin-top: 0.08rem;
    overflow: hidden;
    li{
        background: #fff;
        padding: 0.08rem 0.15rem;
        box-sizing: border-box;
        border-top: 1px solid #f8f8f8;
        .a{
            display: flex;
            align-items: center;
            .left{
                width: 0.4rem;
                height: 0.4rem;
                margin-right: 0.2rem;
            }
            p{
                flex: 1;
                font-size: 0.14rem;
                color: #666666;
            }
            .right{
                width: 0.08rem;
                height: 0.15rem;
            }
        }
    }
  }
  .user{
      width: 100%;
      height: 250px;
      background-color: #fff;
      .money {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                width: 0.96rem;
                height: 0.4rem;
                img{
                    width: 0.205rem;
                    height: 0.185rem;
                }
                p{
                    font-size: 0.14rem;
                    color: #fff;
                    margin-left: 0.08rem;
                }
            }
            .a0{
                background-image: -moz-linear-gradient( 90deg, rgb(255,163,89) 0%, rgb(255,94,118) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(255,163,89) 0%, rgb(255,94,118) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(255,163,89) 0%, rgb(255,94,118) 100%);
                background-image: linear-gradient( 90deg, rgb(255,163,89) 0%, rgb(255,94,118) 100%);
            }
            .a1{
                background-image: -moz-linear-gradient( 90deg, rgb(75,164,255) 0%, rgb(143,121,255) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(75,164,255) 0%, rgb(143,121,255) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(75,164,255) 0%, rgb(143,121,255) 100%);
                background-image: linear-gradient( 90deg, rgb(75,164,255) 0%, rgb(143,121,255) 100%)
            }
            .a2{
                background-image: -moz-linear-gradient( 90deg, rgb(255,97,116) 0%, rgb(143,121,255) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(255,97,116) 0%, rgb(143,121,255) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(255,97,116) 0%, rgb(143,121,255) 100%);
                background-image: linear-gradient( 90deg, rgb(255,97,116) 0%, rgb(143,121,255) 100%);  ;
            }
        }

      }
      .user_ifo{
          width: 100%;
          height: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-image: url('../img/idbg.png') ;
          background-repeat: no-repeat;
          background-size: cover;
          .user_img{
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 0.6rem;
              border: 3px solid #fff;
          }
          p{
              color: #fff;
          }
          .user_name{
              margin-top: 0.1rem;
              font-size: 0.14rem;
          }
          .user_money{
            margin-top: 0.1rem;
            font-size: 0.16rem;
          }
      }
  }
}


.levelMangement{
    table{
        min-width: 100%;
        thead{
            text-align: center;
            th{
                padding: 0.1rem 0;
            }
        }
        tbody{
            text-align: center;
            td{
                padding: 0.08rem 0;
            }
        }
    }
}

.withdrawals{
    .record{
        .datePicker{
            display: flex;
            background: #fff;
            padding: 0.1rem 0.15rem;
            align-items: center;
            >span{
                flex: 1;
                text-align: center;
                color: #999999;
            }
        }
        ul{
            width: 100%;
            li{
                width: 100%;
                display: flex;
                padding: 0.08rem 0.15rem;
                span{
                    color: #666666;
                    font-size: 12px;
                    text-align: center;
                    &:nth-child(1){
                        flex: 1;
                    }
                    &:nth-child(2){
                        flex: 2;
                    }
                    &:nth-child(3){
                        flex: 2;
                    }
                    &:nth-child(4){
                        flex: 1;
                    }
                }
                &:nth-child(1){
                   span{
                       color: #333333;
                   }
                }
            }
        }
    }
    .yue{
        padding: 0.15rem;
        li{
            display: flex;
            margin-bottom: 0.15rem;
            align-items: center;
            >span{
                &:nth-child(1){
                    flex: 1;
                    color: #333333;
                    font-size: 0.14rem;
                }
                &:nth-child(2){
                    flex: 3;
                    color: #666666;
                }
                input{
                    border: 1px solid #ddd;
                    padding:0.08rem 0.15rem;
                }
            }
            .btn{
                width: 100%;
                color: #fff;
            }
        }
    }
}

.transfer{
    ul{
        padding: 0.15rem;
        li{
            margin-bottom: 0.15rem;
            display: flex;
            align-items: center;
            >span{
                font-size: 14px;
                display: flex;
                &:nth-child(1){
                    color: #333333;
                    flex: 1;
                }
                &:nth-child(2){
                    color: #666666;
                    flex: 2;
                }
                >input{
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 0.08rem 0.15rem;
                }
                b{
                    padding: 0.05rem 0.15rem;
                    background: #fff;
                    border-radius: 5px;
                    margin:0 0.05rem;
                }
            }
            .btn{
                width: 100%;
                color: #fff;
            }
        }
    }
}
.announcement{
    ul{
        li{
            padding: 0.08rem 0.15rem;
            display: flex;
            p{
                font-size: 14px;
                color: #333333;
                &:nth-child(1){
                    flex: 1;
                }
            }
        }
    }
}
.announcementDetail{
    h3{
        margin-bottom: 0.2rem;
        padding: 0.15rem;
    }
    p{
        padding: 0.15rem;
        text-indent: 2em;
        color: #666666;
        line-height: 0.3rem;
    }
}
.feedBack{
    ul{
        padding: 0.15rem;
        li{
            display: flex;
            margin-bottom: 0.15rem;
            >span{
                &:nth-child(1){
                    width: 0.5rem;
                    color: #333333;
                }
                &:nth-child(2){
                    flex: 1;
                    textarea{
                        width: 100%;
                        padding: 0.15rem;
                        border: 1px solid #ddd;
                        box-sizing: border-box;
                    }
                    input{
                        padding: 0.08rem 0.15rem;
                        border: 1px solid #ddd;
                        box-sizing: border-box;
                    }
                }
            }
            .btn{
                width: 100%;
            }
        }
    }
}
.insideIfo{
    ul{
        background: #fff;
        li{
            display: flex;
            padding: 0.1rem 0.15rem;
            align-items: center;
            border-bottom: 1px solid #f8f8f8;
            div{
                &:nth-child(1){
                    flex: 1;
                }
                h3{
                    color: #333333;
                    font-weight: normal;
                    font-size: 16px;
                    margin-bottom: 0.08rem;
                }
                p{
                    font-size: 14px;
                    color: #666666;
                }
            }
        }
    }
    .send_msg{
        li{
            display: flex;
            span{
                &:nth-child(1){
                    width: 0.5rem;
                }
                input{
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    box-sizing: border-box;
                    padding: 0.1rem 0.15rem;
                }
                textarea{
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    box-sizing: border-box;
                    padding: 0.1rem 0.15rem;
                }
            }
            .btn{
                width: 100%;
            }
        }
    }
}
.openLink{
    ul{
        li{
            display: flex;
            background: #fff;
            padding: 0.1rem 0.15rem;
            align-items: center;
            >span{
                &:nth-child(1){
                    color: #333333;
                    font-size: 14px;
                }
                &:nth-child(2){
                    flex: 1;
                    padding: 0 0.15rem;
                }
                input{
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 0.08rem 0.15rem;
                    box-sizing: border-box;
                }
            }
            .btn{
                width: 100%;
            }
        }
    }
}
.levelOrder{
    .levelOrder_title{
        display: flex;
        background: #fff;
        li{
            flex: 1;
            padding: 0.15rem 0;
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                .arrow_b{
                    width: 0.11rem;
                    height: 0.07rem;
                    background: url(../img/arrow_b.png) no-repeat;
                    background-size: 100%;
                    margin-left: 0.1rem;
                } 
            }
        }
    }
    .levelOrder_input{
        padding: 0.15rem;
        li{
            display: flex;
            align-items: center;
            margin: 0.1rem 0;
            span{
                &:nth-child(2){
                   flex: 1;
                }
                input{
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 0.08rem 0.15rem;
                    margin-left: 0.15rem;
                }
            }
            .btn{
                width: 100%;
            }
        }
    }
    .table{
        overflow: auto;
        table{
            width: 100%;
            th{
                color: #666666;
                min-width: 100px;
                padding: 0.08rem;
                border-bottom: 1px solid #ddd;
            }
            td{
                color: #999999;
                text-align: center;
                padding: 0.08rem;
                border-bottom: 1px solid #ddd;
            }
        }
    }

}
.vipReport{
    .levelOrder_input{
        li{
            display: flex;
            margin-bottom: 0.2rem;
            div{
                flex: 1;
                p{
                    text-align: center;
                }
            }
            &:nth-child(1){
                p{
                    text-align: center;
                    flex: 1;
                }
            }
        }
    }
}
.list{
    display: flex;
    .icon{
        width: 10%;
        line-height: 100%;
        img{
            width: 0.25rem;
            display: inline-block;
            padding: 0.1rem 0 0 0.1rem;
        }
    }
    .radioItem{
        width: 90%;
    }
}
.nextBtn{
    height: 0.4rem;
    line-height: 0.4rem;
    width: 95%;
    left: 2.5%;
    background-color: #3d9bff;
    position: absolute;
    bottom: 0.1rem;
    text-align: center;
    color: #fff;
    font-size: 0.16rem;
}
.charge{
    
    background:#fff; 
    .chargeInput{
        padding-top: 0.5rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
       input{
            width:1rem;
            height: 0.3rem;
            margin-left: 0.2rem;
            border: 0.01rem solid #ccc;
        } 
    }
    .chargebtn{
        height: 0.4rem;
        padding: 0.2rem 10%;
        p{
            width: 48%;
            height: 0.4rem;
            line-height: 0.4rem;
            text-align: center;
            float: left;
        }
        .back{
            background: #ccc;
            color: #666;
        }
        .conform{
            float: right;
            background-color: #3d9bff;
            color: #333;
        }       
    }
    .chargeTips{
        padding: 5%;
        color: #666;
        line-height: 0.3rem;
    }
}