.lottery_number{
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    top: 0;
    overflow-Y: scroll;
    overflow-X: hidden;
    .lottery_type{
        height: 0.4rem;
        background: #ededed;
        padding: 0 0.15rem;
        box-sizing: border-box;
    }
    .lottery_time{
        box-shadow: 0px 3px 2px 0px rgba(16, 16, 16, 0.05),inset 0px 1px 0px 0px rgba(230, 230, 230, 0.004);
        .lottery_time_item{
            padding: 0.08rem 0;
            position: relative;
            &:nth-child(1)::after{
                content: '';
                position: absolute;
                width: 0.01rem;
                height: 0.4rem;
                background: #dddcdc;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            p{
                font-size: 0.14rem;
                color: #999999;
                line-height: 0.2rem;
                &:nth-child(2){
                    color: #ff4f5c;
                    font-size: 0.18rem;
                }
            }
        }
    }
    .lottery_weishu{
        border-top: 0.08rem solid #ededed;
        background: #ededed;
        border-top: 1px solid #d9d9d9;
        .lottery_weishu_title{
            padding: 0 0.15rem;
            margin: 0.1rem 0;
            overflow: hidden;
            .title{
                float: left;
                width: 0.45rem;
                height: 0.2rem;
                background: url('../img/digit_tab.png');
                background-position: center;
                background-size: cover;
                padding-left: 0.05rem;
                line-height: 0.2rem;
                color: #ffffff;
            }
            .type{
                float: right;
                span{
                    display: inline-block;
                    margin: 0 10px;
                    color: #b2b2b2;
                }
            }

        }
        .lottery_weishu_number{
            background: #ededed;
            .grid{
                .item_number{
                    display: inline-block;
                    width: 0.4rem;
                    height: 0.4rem;
                    border: 1px solid #cccccc;
                    border-radius: 0.5rem;
                    text-align: center;
                    line-height: 0.4rem;
                    background: #ffffff;
                    font-size: 0.18rem;
                    color: #666666;
                }
                .item_number.active{
                    border: none;
                    background: #3d9bff;
                    color: #ffffff;
                }
            }

        }
    }
}


.open_lottery{
    .openLottery_list{
        ul{
            display: flex;
            margin-top: 0.1rem;
            font-size: 0.12rem;
            color: #333333;
            li{
                text-align: center;
                padding: 0.1rem 0;
                &:nth-child(1){
                    flex: 5
                }
                &:nth-child(2){
                    flex: 4
                }
                &:nth-child(3){
                    flex: 2
                }
                &:nth-child(4){
                    flex: 2
                }
                &:nth-child(5){
                    flex: 3
                }
            }
            &:nth-of-type(even){
                background: #ffffff;
            }
        }
    }
}

.game_show{
    .gameShows_list{
        .title{
            padding: 0.2rem 0.15rem;
            background: #f8f8f8;
            font-size: 0.16rem;
            font-weight: bold;
            color: #333333;
        }
        ul{
            li{
                display: flex;
                font-size: 0.14rem;
                color: #999999;
                background: #ffffff;
                justify-content: center;
                align-items: center;
                border-bottom: 0.01rem solid #f8f8f8;
                span{
                    padding: 0.1rem 0.15rem;
                    &:nth-child(1){
                        flex: 1;
                    }
                    &:nth-child(2){
                        flex: 3;
                    }
                }
            }
        }
    }
}



.lottery_tabBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: #3c4960;
    padding: 0 0 0 0.15rem;
    box-sizing: border-box;
    .right{
        float: right;
        width: 0.9rem;
        height: 0.5rem;
        background:#3d9bff; 
        text-align: center;
        line-height: 0.5rem;
        color: #ffffff;
        font-size: 0.16rem;
    }
    .left{
        float: left;
        position: relative;
        width: 120px;
        height: 0.3rem;
        border: 1px solid #108ee9;
        text-align: center;
        line-height: 0.3rem;
        margin-top: 0.1rem;
        font-size: 0.12rem;
        color: #108ee9;
    }
    .mid{
        float: left;
        line-height: 0.5rem;
        margin-left: 0.1rem;
        color: #108ee9;
    }
}


.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content{
    padding: 0;
}

.am-tabs-pane-wrap{
    height: 100%;
}
.am-tabs{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.basket{
    .basketTop{
        height:0.45rem;
        line-height: 0.45rem;
        background-color: #fff;
        border-bottom: 0.01rem solid #e3e3e3;
        display: flex;
        p{
            flex: 1;
            text-align: center;
        }
        .preid{
            color: #3d9bff;
            font-size: 0.13rem;
        }
        .time{
            color: #ff4f5c;
            font-size: 0.16rem;
            font-weight: 400;
        }
        .status{
            font-size: 0.13rem;
            color: #999;
        }
    }
    .btn_group{
        height: 0.42rem;
        padding: 0.15rem; 
        font-size: 0.16rem;
        .btn_ap{
            float: left;
            width: 1.5rem;
            height:0.4rem;
            line-height: 0.4rem;
            text-align: center;
            background-color: #108ee9;
            color: #fff;
        }
        .btn_empty{
            float: right;
            width: 1.38rem;
            height:0.38rem;
            line-height: 0.4rem;
            text-align: center;
            border:0.01rem solid #999;
            position: relative;
            span{
                display: inline-block;
                width: 0.145rem;
                height: 0.155rem;
                background: url(../img/i_delete01.png) no-repeat;
                position: absolute;
                background-size: 100%;
                top:0.13rem;
                right: 0.3rem;

            }
        }
    }
    .betList{
        background-color: #fff;
        li{
            height: 0.6rem;
            line-height: 0.6rem;
            padding: 0 0.15rem;
            border-bottom: 0.01rem solid #e2e2e2;
            p{
                float: left;
                font-size: 0.15rem;
            }
            .play{
                width: 25%;
            }
            .num{
                width: 50%;
                text-align: center;
                color: #ee7e45;
            }
            .total{
                width: 15%;
                color: #999;
                span{
                    color: #3d9bff;
                }
            }
            .delete{
                width: 0.26rem;
                height: 0.26rem;
                background: url(../img/i_delete02.png) no-repeat;
                background-size: 100%;
                margin-top: 0.19rem;
                float: right;
            }
        }
    }
    .bottom{
        height: 0.93rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        box-shadow: 0 0 0.03rem #dcdcdc;
        background-color: #fff;
        .bottom_01{
            height: 0.46rem;
            line-height: 0.46rem;
            padding: 0 0.15rem;
            div{
                float: left;
                text-align: center;
            }
            .bei{
                margin: 0 0.1rem;
                .beiAdd{
                    width: 0.4rem;
                    height: 0.3rem;
                    border:0.01rem solid #dcdcdc;
                    line-height: 0.3rem;
                    margin-top: 0.08rem;
                    text-align: center;
                    div{
                        width: 100%;
                    }
                }
            }
            .yuan{
                div{
                    width: 0.4rem;
                    height: 0.3rem;
                    border:0.01rem solid #dcdcdc;
                    line-height: 0.3rem;
                    margin-top: 0.08rem;
                    margin-left: 0.03rem;
                    text-align: center;
                    position: relative;
                }
                .arrow_b{
                        width: 0.25rem;
                        height: 0.3rem;
                        text-align: center;
                        line-height: 0.3rem;
                        display: inline-block;
                        background: url(../img/i-btn03.jpg) no-repeat;
                        background-size: 100%;
                        margin-top: 0.08rem;
                        position: absolute;
                        right: -0.26rem;
                        top: -0.08rem;
                    }
            }
            .cell{
                span{
                   width: 0.25rem;
                   height: 0.3rem; 
                   text-align: center;
                   line-height: 0.3rem;
                   display: inline-block;
                   background: url(../img/i-btn01.jpg) no-repeat;
                   background-size: 100%;
                   margin-top: 0.08rem;
                }
            }
            .add{
                span{
                    width: 0.25rem;
                    height: 0.3rem; 
                    text-align: center;
                    line-height: 0.3rem;
                    display: inline-block;
                    background: url(../img/i-btn02.jpg) no-repeat;
                    background-size: 100%;
                    margin-top: 0.08rem;
                }
            }
            .traceBtn{
                width: 0.67rem;
                height: 0.3rem;
                line-height: 0.3rem;
                background-color: #3d9bff;
                color: #fff;
                margin: 0.08rem 0.2rem 0 0.2rem;
            }
        }
        .bottom_02{
            height: 0.48rem;
            background-color: #3c4960;
            font-size: 0.12rem;
            color: #fff;
            position: relative;
           .left{ 
               float: left;     
               line-height: 0.16rem;
                width: 72%;
                padding-left: 3%;     
              span {
                  color: #ff4f5c;
              }
           } 
           .right{
               position: absolute;
               right:0;
               top:0;
               height: 0.48rem;
               line-height: 0.48rem;
               width: 25%;
               text-align: center;
               background-color: #3d9bff;
           }
        }
    }
}
.pop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.3);
    .popMain{
        width: 3.2rem;
        overflow: hidden;
        position: absolute;
        background-color: #fff;
        top:50%;
        left: 50%;;
        z-index: 3;
        transform: translate(-50%,-50%);
        .tit{
            height: 0.5rem;
            line-height: 0.5rem;
            background-color: #3d9bff;
            text-align: center;
            font-size: 0.18rem;
            color: #fff;
        }
        .top{
            padding: 0.15rem 0.2rem;
            background-color: #f7f7fa;
            border-bottom:0.01rem solid #e2e2e2;
            .l_name{
                color: #333;
                font-size: 0.17rem;
                line-height: 0.3rem;
            }
            .l_pired{
                color: #999999;
                font-size: 0.14rem;
            }
        }
        ul{
            padding: 0.15rem 0.2rem;
            line-height: 0.28rem;
            span{
                color: #999;
            }
            .money{
                color: #ee7e45
            }
        }
        .btn_order{
            height: 0.7rem;
            padding-top: 0.1rem;
            box-shadow: 0 0 0.06rem #e4e4e4;
            display: flex;
            p{
                height: 0.5rem;
                line-height: 0.5rem;
                background-color: #3d9bff;
                text-align: center;
                font-size: 0.18rem;
                color: #fff;
                width: 95%;
                margin: 0 auto;
            }
            .goBet{
                width: 45%; 
                background-color: #999;
                color: #fff;           
            }
            .goRecord{
                width: 45%; 
            }
        }
    }
    
}
.none
{
    display: none;
}